body{
  background-color: black;
  color: white;
  font-family: arial;
}

.solution-div{
  display: flex;
  width: 205px; 
  margin-bottom: 10px; 
  border: solid 0px grey; 
  border-radius: 2px; 
  height: 50px;
  align-items: center;
  justify-content: right;
}

.calc-value{
  margin: none;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 32px;
}


.general-grid{
  display: grid;
  grid-template-columns: 45px 45px 45px 45px;
  gap: 8px;
}

.grey-button, .yellow-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  height: 45px;
  border-radius: 30px;
  font-size: 20px;
  font-family: arial;
}

.grey-button{
  background-color: rgb(58, 58, 58);
}

.yellow-button{
  background-color: rgb(221, 129, 0);
  font-size: x-large;
}

.clear-button{
  grid-column-start: 1;
  grid-column-end: 3;
}

button{
  opacity: .8.5;
}

button:hover{
  cursor: pointer;
  opacity: .9;
}

button:active{
  opacity: 1;
}
